$primary: #fffbdf;
$secondary: #c6ffc1;
$blue: #34656d;
$dark-blue: #334443;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: rgba($color: #000, $alpha: 0.7);
}

html {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  font-size: 16px;
  background-color: $primary;
  height: 100vh;

  #main {
    height: 90%;
  }
}

.padding {
  &-x {
    padding-inline: 2rem;
  }
}
